{% extends 'base.html' %} {% block content %} {% include 'nav.html' %} {% load static %}


<section class="section">
    <section class="container">
     
<h2 style="text-align:center">Hello</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="ID.jpeg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Hafiz Zeeshan </h2>
        <p class="title">CEO & Founder</p>
        <p>Asslam o Alaikum if you contect me in below is my mail please contect me for more information about products and future deal.</p>
        <p>Zeeshanbidding@gmail.com</p>
       </div>
       <a href="#" class="fa fa-facebook"></a>
       <a href="#" class="fa fa-twitter"></a>


    </div>
  </div>
        

    </section>
</section>   













{% include 'footer.html' %} {% endblock content %}